[submodule "vim/pack/plugins/start/reveal"]
	path = vim/pack/plugins/start/reveal
	url = https://github.com/henrik/vim-reveal-in-finder.git
[submodule "vim/pack/plugins/start/fugitive"]
	path = vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/rename"]
	path = vim/pack/plugins/start/rename
	url = https://github.com/danro/rename-vim.git
[submodule "vim/pack/plugins/start/commentary"]
	path = vim/pack/plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
