[submodule "vim/pack/plugins/start/reveal"]
	path = vim/pack/plugins/start/reveal
	url = https://github.com/henrik/vim-reveal-in-finder.git
[submodule "vim/pack/plugins/start/fugitive"]
	path = vim/pack/plugins/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim/pack/plugins/start/rename"]
	path = vim/pack/plugins/start/rename
	url = https://github.com/danro/rename.vim.git
[submodule "vim/pack/plugins/start/commentary"]
	path = vim/pack/plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/pack/plugins/start/indentpython"]
	path = vim/pack/plugins/start/indentpython
	url = https://github.com/vim-scripts/indentpython.vim
